.Contenedor
{
    background-color: black;
}

.Encabezado
{
    /*Canal alfa de transpariencia*/
    width: auto;
    height: 9em;
    position: fixed;
    top: 0em;
    left: 0em;
    right: 0em;
    background-color: #000000;
    z-index: 1;
}
.logo{
    top: 0%;
    display: flex;
    float: left;
    width: 15em;
    height: 7em;
    position: absolute;
    margin-left: 3em;
    margin-top: 1em;
}
.imagenLogo{
    position: relative;
    top: 12%;
    float: left;
    height: 70%;
    bottom: 10%;
    left: 0%; 
}

.Pie
{
    
    width: auto;
    height: 8.125em;
    
    /*Canal alfa de transpariencia*/
    top: 189em;
    left: 0em;
    right: 0em;
    
    position: absolute;
    background-color: #000000;
}
.RedesSociales
{
    position: relative;
    
    display: flex;
    top: 2em;
    height: 4em;
    left: 10%;
    width: 80%;
    bottom: 2em;
    flex-direction: row;
}

.Creadores
{
    position: relative;
    top: 1.5em;
    flex: 25;
    font-family: Verdana, Arial;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.RedesSociales >img
{
    margin: 1em;
    position: relative;
    top: -0.6em;
    flex: 1;
    width: 0.02em;
    height: 60%;
}
.EnlaceAbout
{
    position: relative;
    font-family: Verdana, Arial;
    top: 2.7em;
    font-size: 1.3em;
    left: 45%;
    color: #FFFFFF;

    
}

.EnlaceGalery
{
    position: relative;
    font-family: Verdana, Arial;
    top: 2.7em;
    font-size: 1.3em;
    left: 50%;
    color: #FFFFFF;

}

.EnlaceContactanos
{
    position: relative;
    font-family: Verdana, Arial;
    top: 2.7em;
    font-size: 1.3em;
    left: 55%;
    color: #FFFFFF;

}
.EnlaceInvestigaciones
{
    position: relative;
    font-family: Verdana, Arial;
    top: 2.7em;
    font-size: 1.3em;
    left: 60%;
    color: #FFFFFF;

}
.Contenido
{

    position: absolute;
    top: 9em;
    width: 100%;
    height: 170em;
    left: 0%;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
    /*Caja principal*/

}
.informacion{
    position: relative;
    width: 70%;
    height: 10em;
    left: 15em;
    text-align: center;


}
.informacionII{
    position: relative;
    width: 70%;
    height: 10em;
    left: 15em;
    text-align: right;
    margin-top:15em;

}
.titulo{
    font-size: 2em;
    text-align: center;
    font-family: Verdana, Arial;
    text-transform: uppercase;
    color: #8277AF;

}
.parrafo
{
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

.divImagen{
    width: 100%;
    height: 50em;
    background-color: aquamarine;
    position: relative;
    top: 10em;
    left: 0em;
    right: 0em;

}

.Imagen{
    width: 100%;
    height: 50em;
}

.contenedor{
    margin-top: 15em;
    width: 100%;
    height: 60em;
    background-color: #000000;
    position: relative;
}
.divImagenAstronauta{
    width: 50%;
    height: 50em;
    margin-left: 5em;
    margin-top: 5em;
    display: flex;
    float: left;
}
.imagenAstronauta
{
    width: 100%;
    height: 50em;
}
.textoContenedor{
    width: 35%;
    height: 30em;
    margin-top: 15em;
    margin-right: 5em;
    background-color: #000000;
    display: flex;
    float: right;
    text-align: right;
}

