/*Partes pricipales*/

.Contenedor
{
    background-color: black;
}

.Encabezado
{
    width: auto;
    height: 9em;
    top: 0em;
    left: 0em;
    right: 0em;
    background-color: black;
}

.Contenido
{
    position: absolute;
    top: 9.5em;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 149em;
    background:black;
    
    /*Caja principal*/

}


p
{
    color: white;
}


.Pie
{
    position: absolute;
    width: 100%;
    height: 10em;
    top: 159em;
    right: 0em;
    background-color: black;

}

.ImagenPie
{
    
    
position: relative;
    right: 10%;
    left: 56.5%;
    width: 33.5%;
    height: 10em;
    
    background-image: url('../Imagenes/DestelloPie.jpeg');
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    
}

input
{
    border-radius: 1em;
}

/*Encabezado*/
.Logo
{
    position: relative;
    top: 12%;
    float: left;
    height: 70%;
    bottom: 10%;
    left: 0%;
}

.MenuDePaginas
{
    font-family: Verdana, Arial;
    position: relative;
    top: 1.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    height: 4em;
    list-style: none;
    margin: 0; 
    font-size: 1.5em;
}

.MenuDePaginas a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    font-size: 0.9em
}
/*Resgistro de estrella*/
.ContenedorDeEstrella
{
    position: relative;
    display: flex;
    top: 3em;
    flex-direction: column;
    left:4em;
    margin: 7em;
    width: 70%;
    height: 54em;
    background-color:  rgba(115, 115, 129, 0.425);
}

.TituloEstrella
{
    position: relative;
    width: 80%;
    height: 1em;
    flex: 1;
    margin: 3em;
    left: 3em;
}

.NombreDeEstrella
{
    position: relative;
    width: 80%;
    height: 2em;
    flex: 2;
    margin: 3em;
    background-color: cornflowerblue;
}

.DatosSimples
{
    position: relative;
    width: 80%;
    height: 2em;
    flex: 3;
    left: 2em;
    margin: 3em;
    
}

.DatosDePie
{
    position: relative;
    width: 80%;
    height: 2em;
    flex: 3;
    left: 4em;
    flex-direction: row;
    margin: 1em;
    bottom: 3em;
}
.Datos1
{
    
    position: relative;
    height: 100%;
    width: 40%;
    float: left;
    left: 5%;
    background-color: rgba(115, 115, 129, 0.425);
}


.Datos2
{
    position: relative;
    left: 15%;
    height: 100%;
    float: left;
    width: 40%;
    background-color: rgba(115, 115, 129, 0.425);
}

.ContenedorDeContacto
{
    position: relative;
    display: flex;
    top: 3em;
    flex-direction: column;
    left:4em;
    margin: 7em;
    
    width: 70%;
    height: 31em;
    background-color:  rgba(115, 115, 129, 0.425);
}


h1
{
    font-family: Verdana, Arial;
    color: #e650b1;
    text-align: center;
}

.Datos1 form input
{
    width: 80%;
    height: 2em;
}

.Datos2 form input
{
    width: 80%;
    height: 2em;
    left: 80%;
}

form p
{
    position: relative;
    font-family: Arial;
    font-size: 1em;
}

span
{
    position: relative;
    font-family: Arial;
    color: white;
}

#CajaDeMensajePersonalizado
{
    left: 2em;
    height: 8em;
    width: 99%;
}


.SalaDeRedaccion
{
    position: relative;
    display: flex;
    top: 3em;
    flex-direction: column;
    left:4em;
    margin: 7em;
    width: 70%;
    height: 28em;
    background-color: rgba(120, 120, 207, 0.349);
    border-radius: 2em;
}

h2
{
    font-family: Verdana, Arial;
    color: white;
    
}
th
{
    font-family: Verdana;
    color: white;
}

tr td 
{
    font-family: Arial;
    font-size: 80%;
    color: white;
}

.button{
font-size:10px;
font-family:Verdana;
font-weight:bold;
color:white;
background:#008DAB;
border:0px;
width:30%;
height: 3em;
margin: 0.5%;
}