/*Partes pricipales*/

.Contenedor
{
    background-color: black;
}

.Encabezado
{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 7vh;
    top: 0em;
    left: 0em;
    right: 0em;
   
}

li
{
    font-size: 1.4vw;
}
.Contenido
{
    position: absolute;
    top: 9.5em;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 149em;
    background:black;
    
    /*Caja principal*/

}


p
{
    color: white;
}


.Pie
{
    top:3vh;
    position: relative;
    width: 100%;
    height: 10vh;
    bottom: 0em;
    right: 0em;
    background-color: black;

}


input
{
    height: 0.1vw;
    border-radius: 1vw;
}

/*Encabezado*/
.Logo
{
    position: relative;
    
    float: left;
    height: 8vh;
    bottom: 10%;
    left: 1%;
}

.MenuDePaginas
{
    position: relative;
    display: flex;
    justify-content: flex-end;

    font-family: Verdana, Arial;
    flex-flow: row wrap;
    list-style: none;

    margin-left:53vw; 
}

.MenuDePaginas a {
    position: relative;
    text-decoration: none;
    display: block;
    padding-left: 1vw;
    top: 0em;
    color: white;
}

/*Resgistro de estrella*/
.ContenedorDeEstrella
{
    position: relative;
    display: flex;
    top: 3vh;
    
    left:4vh;
    margin: 7vw;
    width: 70%;
    height: 54vw;
    background-color:  rgba(115, 115, 129, 0.425);
    flex-wrap: wrap;
}



.NombreDeEstrella
{
    position: relative;
    width: 80%;
    height: 2em;
    flex: 2;
    margin: 3em;
    background-color: cornflowerblue;
}

.DatosSimples, .DatosDePie
{
    padding: 1vh;
    position: relative;
    width: 80%;
    height: 20vw;
    top: 0em;
    margin-left: 5vw;
    background-color: azure;
    display: flex;
    justify-content: space-between;
}

.DatosDePie
{
    
    
    background-color: coral;
   
}
.Datos1, .Datos2
{
    
    position: relative;
    height: 20vw;
    width: 40%;
    
    background-color: rgba(115, 115, 129, 0.425);
}


.ContenedorDeContacto
{
    position: relative;
    display: flex;
    top: 3vh;
    
    left:4vh;
    margin: 7vw;
    width: 70%;
    height: 40vw;
    background-color:  rgba(115, 115, 129, 0.425);
    flex-wrap: wrap;
}

.TituloEstrella
{
    position: relative;
    height: 1vh;
    background-color: coral;
}
h1
{
    position: relative;
    font-size: 2vw;
    font-family: Verdana, Arial;
    color: #e650b1;
    text-align: center;
    
   
}

.Datos1 form input
{
    width: 80%;
    height: 2vw;
}

.dat2
{
    width: 80%;
    height: 2vw;
    left: 80%;
}

form p
{
    position: relative;
    font-family: Arial;
    font-size: 1vw;
}

span
{
    position: relative;
    font-family: Arial;
    color: white;
    font-size: 1vw;
}

#CajaDeMensajePersonalizado
{
    left: 2em;
    height: 8em;
    width: 99%;
}


.SalaDeRedaccion
{
    position: relative;
    display: flex;
    top: 3vh;
    justify-content: center;
    left:4vh;
    margin-left: 7vw;
    width: 70%;
    height: 46vw;
   
    flex-wrap: wrap;
    background-color: rgba(120, 120, 207, 0.349);
    border-radius: 2em;
}

h2
{
    font-family: Verdana, Arial;
    color: white;
    font-size: 1vw;
    
}
th
{
    font-family: Verdana;
    color: white;
    font-size: 1vw;
}

tr td 
{
    font-family: Arial;
    font-size: 1vw;
    color: white;

}



.button{
    position: relative;
    font-size:1vw;
    font-family:Verdana;
    font-weight:bold;
    color:white;
    background:#008DAB;

    width:10vw;
    height: 2vw;

}