/*Partes pricipales*/

.Contenedor
{
    background-color: black;

}

.Encabezado
{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 7vh;
    top: 0em;
    left: 0em;
    right: 0em;

}
input[type=radio] {
    height: 1vw;
    margin-bottom: 1vh;
    top: 0px;
}
.TextButton
{
    font-size: 2vw;
    margin: 0vw 12vw;
}
.bottonPink
{
    width: 70vw;
    top: 3vh;
    background: #e650b285;
    font-size: 1vh;
    height: 6vw;
    color: white;
    font-size: 3vw;
    border: 0px;
}


.Contenido
{
    display: flex;
    flex-direction: column;
    left: 40%;
    align-items: center;
    width: 80%;
   
    
    /*Caja principal*/
}
.principal
{
    display: flex;
    margin: 2vw;
    width: 100%;
    margin-top: 12vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

p
{
    color: white;
}


footer
{
    display: flex;
    margin: 0em;
    background-color: var(--primary);
    color: var(--primaryDark);
    width: 100%;
    height: 5vh;
    justify-content: space-around;
   

}




/*Encabezado*/
.Logo
{
    position: relative;
    
    float: left;
    height: 5vh;
    bottom: 10%;
    left: 1%;
}

.MenuDePaginas
{
    position: relative;
    display: flex;
    justify-content: flex-end;

    font-family: Verdana, Arial;
    flex-flow: row wrap;
    list-style: none;

    margin-left:53vw; 
}

.MenuDePaginas a {
    position: relative;
    text-decoration: none;
    display: block;
    padding-left: 1vw;
    top: 0em;
    color: white;
}

/*Resgistro de estrella*/
.ContenedorDeEstrella
{
    
    
    height: 54vw;
    display: flex;
    top: 1vh;
    padding: 7vw;
    width: 90%;
    margin-bottom: 4vh;
    background-color:  rgba(115, 115, 129, 0.425);
    flex-wrap: wrap;
    flex-direction: row;
}



.NombreDeEstrella
{
    position: relative;
    width: 80%;
    height: 2em;
    flex: 2;
    margin: 3vw;
    background-color: cornflowerblue;
}

.DatosSimples, .DatosDePie
{   
    display: flex;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 80%;
    height: 18vw;
    top: 5vh;
    margin-left: 2vw;
   
    
    justify-content: space-between;
}

.Datos1, .Datos2
{
    padding: 1vw;
    display: flex;
    justify-content: space-between;
    height: 19vw;
    width: 40%;
    
    
    flex-direction: column;
    
    
}


.ContenedorDeContacto
{
    
    display: flex;
    top: 3vh;
    padding: 7vw;
    width: 90%;
    height: 35vw;
    background-color:  rgba(115, 115, 129, 0.425);
    flex-wrap: wrap;
    flex-direction: row;
}


h1
{
    position: relative;
    font-size: 2vw;
    font-family: Verdana, Arial;
    color: #e650b1;
    text-align: center;
    
   
}


.Datos1 form input , .dat2
{
    width: 20vw;
    height: 2vw;
}



p
{
    
    font-family: Arial;
    font-size: 1vw;
}

span
{
   
    font-family: Arial;
    color: white;
    font-size: 1vw;
}

#CajaDeMensajePersonalizado
{
    left: 2em;
    height: 8em;
    width: 99%;
}


.SalaDeRedaccion
{
    
    position: relative;
    display: flex;
    top: 3vh;
    
    
    margin: 7vw;
    width: 80%;
    height: 43vw;
   
    flex-wrap: wrap;
    background-color: rgba(120, 120, 207, 0.349);
    border-radius: 2vw;
}

h2
{
    font-family: Verdana, Arial;
    color: white;
    font-size: 2vw;
    
}
th
{
    font-family: Verdana;
    color: white;
    font-size: 1.5vw;
    background-color: rgba(228, 128, 220, 0.473);
}

tr td 
{
    font-family: Arial;
    font-size: 1.5vw;
    color: white;

}



.button{
  
    font-size:1vw;
    font-family:Verdana;
    
    color:white;
    background:#008DAB;
    margin: 0.9vh;
    border: 0px;
    width:10vw;
    height: 2vw;

}

html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  

  a:focus {
    outline: none;
  }

  
  
  /* FSR Top Bar. */
  
  #fsr-top-bar {
    background-color: transparent;
    font-size: 12px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

  }
  
  @media screen and (min-width: 768px) {
    #fsr-top-bar {
      border-bottom: 1px solid #e2e2e2;
      margin: auto;
      position: relative;
      width: 94%;
    }
  }
  
  #fsr-top-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  @media screen and (min-width: 768px) {
    #fsr-top-bar ul {
      display: inline-block;
    }
  }
  
  #fsr-top-bar li {
    display: none;
    color: white;
    
  }
  
  @media screen and (min-width: 768px) {
    #fsr-top-bar li {
      display: block;
      float: left;
    }
  }
  
  #fsr-top-bar li:first-child {
    display: none;
    text-align: right;
  }
  
  #fsr-top-bar li:last-child {
    display: block;
    padding: 3%;
  }
  
  @media screen and (min-width: 768px) {
    #fsr-top-bar li:last-child {
      display: none;
    }
  }
  
  #fsr-top-bar li:first-child svg.fsr-ic-top-bar-close,
  #fsr-top-bar li:last-child svg.fsr-ic-top-bar-burguer {
    fill: #555;
    height: 24px;
    position: relative;
    top: 7px;
    width: 24px;
  }
  
  #fsr-top-bar a {
    background-color: transparent;
    color: #555;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 44px;
    padding: 0 .9rem;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
  }
  
  #fsr-top-bar .fsr-top-bar-wrapper {
    display: none;
  }
  
  #fsr-top-bar:target {
    background-color: #353535;
    bottom: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    z-index: 1;
  }
  
  #fsr-top-bar:target li {
    display: block;
  }
  
  #fsr-top-bar:target li:not(:first-child) {
    margin-top: 2px;
  }
  
  #fsr-top-bar:target li:first-child {
    display: block;
  }
  
  #fsr-top-bar:target li:first-child svg.fsr-ic-top-bar-close {
    fill: #fff;
  }
  
  #fsr-top-bar:target li:last-child {
    display: none;
  }
  
  #fsr-top-bar:target a {
    color: #fff;
    width: 100%;
  }
  
  @media screen and (min-width: 768px) {
    #fsr-top-bar:target a {
      color: #555;
    }
  }
  
  #fsr-top-bar:target .fsr-top-bar-wrapper {
    display: block;
    height: 200px;
  }
  
  #fsr-top-bar:target .fsr-top-bar-ads {
    overflow: hidden;
    position: relative;
  }
  
  #fsr-top-bar:target .fsr-top-bar-ads:after {
    background: rgba(0, 0, 0, 0.4);
    content: "";
    height: 100%;
    position: absolute;
    top: 46px;
    width: 100%;
  }
  
  #fsr-top-bar:target .fsr-top-bar-head {
    color: white;
    margin: 1em 0 .5em 0;
    padding: .5em 0;
    position: absolute;
    z-index: 1;
  }
  
  #fsr-top-bar:target .fsr-top-bar-head-img {
    border-radius: 50%;
    height: 36px;
    margin-left: 10px;
    width: 36px;
  }
  
  #fsr-top-bar:target .fsr-top-bar-head-title {
    padding-left: .5rem;
    position: relative;
    top: 2px;
  }
  
  #fsr-top-bar:target .fsr-top-bar-img {
    height: 200px;
    padding-top: 2px;
    position: absolute;
    width: 100%;
  }
  
  #fsr-top-bar:target .fsr-top-bar-text {
    color: #fff;
    margin: 4rem 0;
    padding: 10px;
    position: absolute;
    z-index: 1;
  }
  
  #fsr-top-bar:target ~ article[role=application] {
    display: none;
  }
  
  @media screen and (min-width: 500px) {
    #fsr-top-bar:target ~ article[role=application] {
      display: block;
    } 
  }
  
  @media screen and (min-width: 500px) {
    #fsr-top-bar:target {
      left: -280px;
      transform: translateX(280px);
      transition: transform 0.5s cubic-bezier(0.42, 0, 0.58, 1);
      webkit-transform: translateX(280px);
      webkit-transition: transform 0.5s cubic-bezier(0.42, 0, 0.58, 1);
      width: 280px;
    }
  }
  
  @media screen and (min-width: 768px) {
    #fsr-top-bar:target {
      background-color: transparent;
      border-bottom: 1px solid #da28cb;
      height: 52px;
      overflow: hidden;
      position: relative;
      width: 94%;
    }
    #fsr-top-bar:target a {
      width: auto;
    }
    #fsr-top-bar:target li:first-child {
      display: none;
    }
  }
  li
{
    
    font-family: Arial, Helvetica, sans-serif;
}