.fondo
{
    background-color: black;
    text-align: center;
}
.imagenes
{
    background-color: black;
    height: 50%;
    width: 50%;
    
}
.contenidos
{
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    color:#fff;
}
div h4{
    
    font-size: 150%;
}
div p{
  
    font-size: 100%;
}
body
{
    background-color: black;
}
.PiePag
{
    width: auto;
    height: 8.125em;
    top: 190em;
    left: 0em;
    right: 0em;
    position: relative;
    background-color: black;
}