
.Encabezado
{
    width: auto;
    height: 16vw;
    
    background-color: black;
}

.Logo
{
    position: relative;
    top: 12%;
    float: left;
    height: 14vw;
    bottom: 10%;
    
}

.Pie
{
    position: absolute;
    width: 100%;
    height: 10vw;
    top: 159em;
    background-color: pink;
}

.titulos
{
    font-family: Verdana;
    font-size: 5vw;
}

.MenuDePaginas
{
    font-family: Verdana, Arial;
    position: relative;
    top: 1.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    height: 4vw;
    list-style: none;
    font-size: 3vw;
}

.MenuDePaginas a {
    text-decoration: none;
    display: block;
    padding: .8vw;
    color: white;
    font-size: 2.5vw
}


.fondo
{
    background-color: black;
    text-align: center;
}
.imagenes
{
    background-color: black;
    height: 50%;
    width: 50%;
    border : 1px solid #fff;
}
.contenidos
{
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    color:#fff;
    font-family: Arial;
}
div h4{
    
    font-size: 8vw;
}
div p{
  
    font-size: 2vw;
}
body
{
    background-color: black;
}

.PiePag
{
    position: relative;
    width: auto;
    height: 8.125vw;
    font-size: 2.8vw;
    left: 0em;
    right: 0em;
    position: relative;
    background-color: black;
}
.redes
{
    font-family: Arial;
    font-size: 1.8vw;
    color: white;
    height: 1vw;
    left: 35vw;
    text-align: center;
    top: 5vh;
    width: 30vw; 
    position: relative;
}