.contenedor
{
    background: url(../Imagenes/ImagenPrincipal_Home.jpg);
    margin: 0%;
}

.contImagen{
    width: 100%;
    height: 50em;
    background-color: black;
    position: relative;
    margin-top: 0%;
    left: 0em;
    right: 0em;

}

.imagen
{
    width: 100%;
    height: 100%;
    margin: 0%;
}

.head
{
    width: auto;
    height: 9em;
    position: fixed;
    top: 0em;
    left: 0em;
    right: 0em;
    z-index: 1;
}

.contLogo
{
    top: 0%;
    display: flex;
    float: left;
    width: 15em;
    height: 7em;
    position: absolute;
    margin-left: 3em;
    margin-top: 1em;
}

.logo
{
    position: relative;
    top: 12%;
    float: left;
    height: 70%;
    bottom: 10%;
    left: 0%;

    /*width: 10em;
    height: 7em;*/
}



.AcercaDe
{
    position: relative;
    font-family: Verdana, Arial;
    top: 2.7em;
    font-size: 1.3em;
    left: 45%;
    color: #FFFFFF;

    /*position: relative;
    font-family: Verdana, Arial;
    top: 10%;
    float: left;
    height: 1.5em;
    left: 20%;*/
}

.Gallery
{
    position: relative;
    font-family: Verdana, Arial;
    top: 2.7em;
    font-size: 1.3em;
    left: 50%;
    color: #FFFFFF;

    /*position: relative;
    font-family: Verdana, Arial;
    top: 0.4em;
    font-size: 1em;
    left: 35%;*/
}

.Contactanos
{
    position: relative;
    font-family: Verdana, Arial;
    top: 2.7em;
    font-size: 1.3em;
    left: 55%;
    color: #FFFFFF;

    /*position: relative;
    font-family: Verdana, Arial;
    top: 0.4em;
    font-size: 1em;
    left: 48%;*/
}

.Investigaciones
{
    position: relative;
    font-family: Verdana, Arial;
    top: 2.7em;
    font-size: 1.3em;
    left: 60%;
    color: #FFFFFF;
    /*
    position: relative;
    font-family: Verdana, Arial;
    top: 0.4em;
    font-size: 1em;
    left: 60%;*/
}

.contenido
{
    position: absolute;
    top: 50em;
    width: 100%;
    height: 137em;
    left: 0%;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
}

.sun
{
    width: 50%;
    height: 50em;
    margin-left: 5em;
    margin-top: 5em;
    display: flex;
    float: left;
}

.fact
{
    width: 50em;
    height: 50em;
}

.textSun{
    width: 35%;
    height: 30em;
    margin-top: 7em;
    margin-right: 5em;
    background-color: #000000;
    display: flex;
    float: right;
    text-align: right;
}

.parrafoSun
{
    color: #FFFFFF;
    font-family: Verdana, Arial;
    line-height: 1.5;
    text-align: right;
}

.title
{
    width: 5%;
    height: 1%;
    margin-top: 5em;
    margin-right: 5em;
    background-color: #000000;
    display: flex;
    float: right;
    text-align: right;
    font-size: 2em;
}

.titleSun
{
    color: #FFFFFF;
    font-family: Verdana, Arial;
    line-height: 1.5;
    text-align: right;
    
}

.Earth
{
    width: 50%;
    height: 50em;
    margin-right: 5em;
    margin-top: 5em;
    display: flex;
    float: right;
}

.factEarth
{
    width: 50em;
    height: 50em;
}

.titleEarth
{
    width: 5%;
    height: 1%;
    margin-top: 5em;
    margin-left: 3em;
    background-color: #000000;
    display: flex;
    float: left;
    text-align: left;
    font-size: 2em;
}

.titleE
{
    color: #FFFFFF;
    font-family: Verdana, Arial;
    line-height: 1.5;
}

.textEarth
{
    width: 35%;
    height: 30em;
    margin-top: 7em;
    margin-left: 5em;
    background-color: #000000;
    display: flex;
    float: left;
    text-align: left;
}

.parrafoEarth
{
    color: #FFFFFF;
    font-family: Verdana, Arial;
    line-height: 1.5;
}

.Pie
{
    
    width: auto;
    height: 8.125em;
    top: 179em;
    left: 0em;
    right: 0em;
    position: absolute;
    background-color: black;
}

.RedesSociales
{
    position: relative;
    display: flex;
    top: 2em;
    height: 4em;
    left: 10%;
    width: 80%;
    bottom: 2em;
    flex-direction: row;
}

.Creadores
{
    position: relative;
    top: 1.5em;
    flex: 25;
    font-family: Verdana, Arial;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.RedesSociales >img
{
    margin: 1em;
    position: relative;
    top: -0.6em;
    flex: 1;
    width: 0.02em;
    height: 60%;
}

/*.light
{
    position: absolute;
    width: 100%;
    height: 10em;
    top: 170em;
    right: 0em;

}

.imagenlight
{
    position: relative;
    right: 30%;
    left: 56%;
    width: 44%;
    height: 10em;
    
    background-image: url('../Imagenes/DestelloPie.jpeg');
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    
}*/