/*Partes pricipales*/

.Contenedor
{
    background-color: black;
}

.Encabezado
{
    /*Canal alfa de transpariencia*/
    width: auto;
    height: 9em;
    top: 0em;
    left: 0em;
    right: 0em;
    background-color: black;
}

.Contenido
{
    position: absolute;
    top: 9.5em;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 179em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    
    /*Caja principal*/

}





.Pie
{
    position: absolute;
    width: 100%;
    height: 10em;
    top: 189em;
    right: 0em;

}

.ImagenPie
{
    
    
position: relative;
    right: 10%;
    left: 56.5%;
    width: 33.5%;
    height: 10em;
    
    background-image: url('../Imagenes/DestelloPie.jpeg');
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    
}

/*Encabezado*/
.Logo
{
    position: relative;
    top: 12%;
    float: left;
    height: 70%;
    bottom: 10%;
    left: 0%;
}

.MenuDePaginas
{
    font-family: Verdana, Arial;
    position: relative;
    top: 1.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    height: 4em;
    list-style: none;
    margin: 0; 
    font-size: 1.5em;
    
}

.MenuDePaginas a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

/*Resgistro de estrella*/
.ContenedorDeEstrella
{
    position: relative;
    display: flex;
    top: 3em;
    flex-direction: column;
    
    margin: 7em;
    
    width: 80%;
    height: 60em;
    background-color: chocolate;
}

.TituloEstrella
{
    position: relative;
    width: 80%;
    height: 2em;
    flex: 1;
    margin: 3em;
    background-color: cornflowerblue;
}

.NombreDeEstrella
{
    position: relative;
    width: 80%;
    height: 2em;
    flex: 2;
    margin: 3em;
    background-color: cornflowerblue;
}

.DatosSimples
{
    position: relative;
    width: 80%;
    height: 2em;
    flex: 3;
    margin: 3em;
    background-color: cornflowerblue;
}

.DatosDePie
{
    position: relative;
    width: 80%;
    height: 2em;
    flex: 3;
    flex-direction: row;
    margin: 3em;
    background-color: cornflowerblue;
}
.Datos1
{
    
    position: relative;
    height: 100%;
    width: 40%;
    float: left;
    left: 5%;
    background-color: deeppink;
}


.Datos2
{
    position: relative;
    left: 15%;
    
    height: 100%;
    float: left;
    width: 40%;
    background-color: deeppink;
}

.ContenedorDeContacto
{
    position: relative;
    display: flex;
    top: 3em;
    flex-direction: column;
    
    margin: 7em;
    
    width: 80%;
    height: 30em;
    background-color: chocolate;
}

.TituloContacto
{
    position: relative;
    width: 80%;
    height: 2em;
    flex: 1;
    margin: 3em;
    background-color: cornflowerblue;
}



h1
{
    font-family: Verdana, Arial;
    color: #e650b1;
    text-align: center;
}

.Datos1 form input
{
    width: 80%;
    height: 2em;
}

/*
    <div class="Contenido">
            <div class="ContenedorDeEstrella">
                <div class="TituloEstrella">
                    <h1>
                        Registro de una estrella 
                    </h1>
                </div>
            
            <div class="DatosSimples">
                
                <div class="Datos1">
                    <form style="padding: 1em;" >
                        Constelacion: <br>
                        <input type="text" name="Constelacion" id="Constelacion">
                        <br>
                        Fecha Memorable: <br>
                        <input type="text" name="Fecha" id="Fecha">
                    </form>
                </div>

                <div class="Datos2">
                    <form action="">
                        mierda
                        Copias del certificado: <br>
                        <input type="text" name="Copias" id="Copias">
                        <br>
                        Entrega: <br>
                        <input type="text" name="Entrega" id="Entrega">
                    </form>
                </div>
                
                </div>

            <div class="DatosDePie" >
                <form>
                    Mensaje personalizado:
                    <input type="text" name="Mensaje" id="Mensaje">
                    <br>
                    Mapa Estelar: <br>
                    <input type="radio" name="MapaEstelar" id="MapaEstelar"> Si <br>
                    <input type="radio" name="MapaEstelar" id="MapaEstelar">No <br>
                
                </form>
            </div>


            <!--Contenedor-->
            </div>
    <!--Cierre-->
    </div>



*/

/*
<div class="ContenedorDeContacto">
            <div clas="TituloContacto">
                    yolo
            </div>
        </div>

            


        <form action="">
            <h1>Contactate con nostross</h1>
            Nombre:
            <br>
            <input type="text" name="Nombre" id="Nombre">
            <br>
            Telefono:
            <br>
            <input type="text" name="Telefono" id="Telefono">
            <br>
            Correo Electronico: <br>
            <input type="Email" name="Email" id="Email">
            <br>
            Mensaje: <br>
            <input type="Mensaje" name="Mensaje" id="Mensaje">


        </form>
    </div>

*/