/*Partes pricipales*/

.Contenedor
{
    background-color: black;
}

.Encabezado
{
    /*Canal alfa de transpariencia*/
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 7vh;
    top: 0em;
    left: 0em;
    right: 0em;
}

.Contenido
{
    display: flex;
    flex-direction: column;
    left: 40%;
    align-items: center;
    width: 80%;
    height: 90vh;
    
    margin-top: 20vh;
}


p
{
    color: white;
}


footer
{
    display: flex;
    margin: 0em;
    background-color: var(--primary);
    color: var(--primaryDark);
    width: 100%;
    height: 5vh;
    justify-content: space-around;
}

/*Encabezado*/
.Logo
{
    position: relative;
    
    float: left;
    height: 8vh;
    bottom: 10%;
    left: 1%;
}

.MenuDePaginas
{
    position: relative;
    display: flex;
    justify-content: flex-end;

    font-family: Verdana, Arial;
    flex-flow: row wrap;
    list-style: none;

    margin-left:53vw; 
}

.MenuDePaginas a {
    position: relative;
    text-decoration: none;
    display: block;
    padding-left: 1vw;
    top: 0em;
    color: white;
}
